* {
    margin: 0;
    padding: 0;
    font-family: 'Sofia', sans-serif;
}
h1 {
    font-family: 'Sofia', sans-serif;
}
header {
    height: 66px;
    background-color: rgb(221, 188, 252);
}

header h1 {
    display: inline-block;
    float: none;
    padding: 6px 20px;
    text-transform: lowercase;
}
header h1 a {
    transition: .3s;
}
header h1 a hover {
    color:aliceblue;
}
header ul {
    float: right;
    height: 50;
}
header ul li {
    padding: 18px;
    display:inline-block;
    float: none;
}
header ul li a hover {
    color: #F84744;
    transition: .3s;
}
a {
    text-decoration: none;
}

.container {
    width: 90%;
    margin:0 auto;
}

 .container ::after {
    content: '';
    display: block;
    clear: both;
}

.Menu-samping {
    float: right;
    display: none;
    padding: 14px;
}
.Menu-samping:hover {
    cursor: pointer;
}
/*menghapus kotak check*/

#check {
    display: none;
}

.sidebar{
    position:fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color: rgba(249, 176, 248, 0.9);
    transition: .3s;
}

.sidebar ul li a {
    color:rgb(100, 149, 254);
}

.sidebar ul li{
    padding:24px;
    transition: .3s;
    transition-property: background-color;
}

.sidebar ul li:hover{
    background-color: rgb(255, 185, 94);
}
/*buat muncul-munculin sidebar nya yg menu samping*/
#check:checked ~ .sidebar {
    left: 0;
}

.benner-fotoku {
    background-color: #9FE6F8;
}
section {
    padding: 50px 0;
}
.benner-fotoku img {
    width: 200px;
    border-radius: 10px;
    box-shadow: none;
}
/*bagian About Me*/
section h3 {
    padding-bottom: 20px;
    text-align: center;
    margin: 20px;
    position: relative;
}
section h3::before {
    content:'';
    display: block;
    position: absolute;
    bottom: 0;
    width: 120px;
    height: 1px;
    background-color: #000;
    left: calc(50% - 60px);
}
section h3::after {
    content:'';
    display: block;
    position: absolute;
    bottom: 0;
    width: 40px;
    height: 4px;
    background-color: rgb(250, 15, 172);
    left: calc(50% - 20px);
}
#AboutMe p {
    text-align: justify;
    text-indent: 30px;
    line-height: 25px;
    margin-bottom: 15px;
}
/*bagian Project*/
#Project {
    background-color: #fad2aa ;
}
/*bagian Contact*/
#Contact {
    background-color: #ede4e4;
    text-align: center;
}

footer {
    background-color: #333;
    padding: 30px;
    text-align: center;
}
footer small {
    color: azure;
}
html {
    scroll-behavior: smooth;
}

@media (max-width: 768px){
    .Menu-samping {
        display: block;
    }
    header ul {
        display: none;
    }
} 

img{
    object-fit: cover;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
}   
